<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1017357967521-vvarff94j8pk69r5qg4t9u6eficg976i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017357967521-vvarff94j8pk69r5qg4t9u6eficg976i</string>
	<key>API_KEY</key>
	<string>AIzaSyAQSPuBbP-56mAG7AZfRBEyFnSrE00fV-0</string>
	<key>GCM_SENDER_ID</key>
	<string>1017357967521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.truckish.Truckish</string>
	<key>PROJECT_ID</key>
	<string>truckish-d62be</string>
	<key>STORAGE_BUCKET</key>
	<string>truckish-d62be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017357967521:ios:d970adf3be9ef063</string>
	<key>DATABASE_URL</key>
	<string>https://truckish-d62be.firebaseio.com</string>
</dict>
</plist>